<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ServeletProgram1</servlet-name>
        <servlet-class>dinesh.ServeletProgram1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>demoServlet</servlet-name>
        <servlet-class>dinesh.demoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionPage</servlet-name>
        <servlet-class>SessionPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionServlet</servlet-name>
        <servlet-class>dinesh.SessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>dinesh.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OutputServlet</servlet-name>
        <servlet-class>OutputServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OutputServlet1</servlet-name>
        <servlet-class>dinesh.OutputServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoBiographyServlet</servlet-name>
        <servlet-class>dinesh.AutoBiographyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServeletProgram1</servlet-name>
        <url-pattern>/ServeletProgram1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>demoServlet</servlet-name>
        <url-pattern>/demoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionPage</servlet-name>
        <url-pattern>/SessionPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionServlet</servlet-name>
        <url-pattern>/SessionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OutputServlet</servlet-name>
        <url-pattern>/OutputServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OutputServlet1</servlet-name>
        <url-pattern>/OutputServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoBiographyServlet</servlet-name>
        <url-pattern>/AutoBiographyServlet</url-pattern>
    </servlet-mapping>
</web-app>
